<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Title}} - Abheshek Pandey</title>

    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <meta name="author" content="{{author}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="https://www.abhe.in/assets/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="https://www.abhe.in/styles/style.css"> 

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=EB+Garamond:ital,wght@0,500;0,700;1,500;1,700&family=JetBrains+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

</head>
<body>
    <header class="topnav">
        <a href="/" title="Abheshek Pandey - Home">Abheshek Pandey</a>
        <nav class="topnav-right" id="navRight">
            <a href="/#about">About Me</a>
            <a href="/tinkerings/">Tinkerings</a>
            <a href="/photography/">Photography</a>
            <a href="/ayande/">Ayan De</a>
            <a href="/blog/index.html">Blog</a>
            <a href="/#contact">Contact</a>
            <!--Responsive--
            <a href="javascript:void(0);" class="icon" onclick="myNavResponse()">
                <i class="material-symbols-sharp">Menu</i>
            </a>
        -->
        </nav>
    </header>

    <main class="{{type}}">





    </main>



    <hr> 
    <p>
        <!--Uses Java Script to generate the copyright year-->
        &copy; <span id="copyright-year"></span> Abheshek Pandey<br>
        <a href="mailto:pandey.abheshek@gmail.com">pandey.abheshek@gmail.com</a> | Mumbai, IN</a><br>
    </p>

    <script src="/scripts/script.js"></script>

</body>
</html>